{% extends 'base.html.twig' %}

{% block title %}Liste des Salariés{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center">
            <button onclick="history.back()" class="btn btn-secondary">Retour</button>
            <h1 class="text-center">Liste des Salariés</h1>
            <div style="width: 800px"></div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Matricule</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Departement</th>
                    <th scope="col">Poste</th>
                    <th scope="col">Salaire</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for salarie in salaries %}
                    <tr>
                        <td>{{ salarie.matricule }}</td>
                        <td>{{ salarie.nom }}</td>
                        <td>{{ salarie.prenom }}</td>
                        <td>{{ salarie.departement }}</td>
                        <td>{{ salarie.poste }}</td>
                        <td>{{ salarie.salaire }}</td>
                        <td>
                            <a href="#" class="btn btn-primary">Éditer</a>
                            <a href="#" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="#" class="btn btn-success">Ajouter un salarié</a>
    </div>
{% endblock %}