{% extends 'base.html.twig' %}

{% block title %}Liste des Fournisseurs{% endblock %}

{% block body %}
    <div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <button onclick="history.back()" class="btn btn-secondary">Retour</button>
        <h1 class="text-center">Liste des Fournisseurs</h1>
        <div style="width: 800px"></div>
    </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Num</th>
                    <th scope="col">Liste Produits</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for fournisseur in fournisseurs %}
                    <tr>
                        <td>{{ fournisseur.id }}</td>
                        <td>{{ fournisseur.numFournisseur }}</td>
                        {% if fournisseur.produits is not null%}
                            <td>{{ fournisseur.produits }}</td>
                        {% else %}
                        <td> 0 </td>
                        {% endif %}
                        <td>
                            <a href="{{ path('app_fournisseur_controller2_delete', {'id': fournisseur.id}) }}" class="btn btn-primary">Éditer</a>
                            <a href="{{ path('app_fournisseur_controller2_delete', {'id': fournisseur.id}) }}" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_fournisseur_controller2_new') }}" class="btn btn-success">Ajouter un fournisseur</a>
    </div>
{% endblock %}